<mat-card>
    <p>
        <button mat-fab color="primary" ><a routerLink="/travell-list">
            <mat-icon>home</mat-icon></a>
          </button> 
          &nbsp;

          <button mat-fab disabled color="primary" ><a routerLink="/turfirma">
            <mat-icon>public</mat-icon></a>
          </button>
          &nbsp;

          <button mat-fab color="primary" ><a routerLink="/voucher">
            <mat-icon>beach_access</mat-icon></a>
          </button>
          &nbsp;

          <button mat-fab color="primary" ><a routerLink="/booking">
            <mat-icon><mat-icon>sentiment_very_satisfied</mat-icon></mat-icon></a>
          </button>
          &nbsp;
    </p>

    <br>
    <br>
    <span>Информация о тур. фирмах</span>
    <br>
    <br>
    
    <mat-card-content>
        <br>
        <h3><button mat-fab disabled >
            <mat-icon>public</mat-icon>
          </button> Тур. фирмы</h3>
        <h3>Id, Название, Адрес, Комиссия:</h3>
        <mat-list role="list">
            
            <tl-turfirma-list-item *ngFor="let item of turfirmas"
                               [item]="item"
                               role="listitem"
                               (delete)="deleteTurfirma($event)"
                               >
            </tl-turfirma-list-item>
            
        </mat-list>
<s>             </s>
    </mat-card-content>
    <mat-card-actions>
        
        <form [formGroup]="form">

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Название</mat-label>
                <input formControlName="name" matInput type="text">
                <button mat-stroked-button color="primary" *ngIf="nameControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="nameControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Адрес</mat-label>
                <input formControlName="address_t" matInput type="text">
                <button mat-stroked-button color="primary" *ngIf="address_tControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="address_tControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Комиссия</mat-label>
                <input formControlName="commission" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="commissionControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="commissionControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>

           <button mat-flat-button color="accent" (click)="addTurfirmaItem()">Добавить тур. фирму</button>
           <br>
           <br>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Id (for update)</mat-label>
                <input formControlName="id_t" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="id_tControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="id_tControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </form>

        <button mat-flat-button color="accent" (click)="updateTurfirmaItem()">Обновить информацию о тур. фирме</button>
        
    </mat-card-actions>

</mat-card>
