<mat-card>
    <p>
        <button mat-fab disabled color="primary" ><a routerLink="/travell-list">
            <mat-icon>home</mat-icon></a>
          </button> 
    </p>

    <span>Welcome!</span>
    <br>
    <span>Информация о возможных турах:</span>
    <br>
    <br>
    <br>

    <mat-nav-list  class="list-horizontal">
        <pre>                </pre>
        <mat-list-item class="nav-item"><a routerLink="/turfirma"><h3>Тур. фирмы</h3></a></mat-list-item>
        <pre>                        </pre>
        <mat-list-item class="nav-item"><a routerLink="/voucher"><h3>Путевки</h3></a></mat-list-item>
        <pre>                        </pre>
        <mat-list-item class="nav-item"><a routerLink="/booking"><h3>Заказы</h3></a></mat-list-item>
        <pre>                </pre>
        
    </mat-nav-list>
    
</mat-card>