<mat-card>
    <p>
        <mat-icon matBadge="10" matBadgeSize="large" matBadgeColor="warn">home</mat-icon>
    </p>
    <span>Welcome!</span>
    <br>
    <span>Информация о возможных турах:</span>
    <br>
    <br>

    <mat-card-content>
        <br>
        <h3><mat-icon >public</mat-icon> Тур. фирмы:</h3>
        <h3>Id, Название, Адрес, Комиссия:</h3>
        <mat-list role="list">
            
            <tl-turfirma-list-item *ngFor="let item of turfirmas"
                               [item]="item"
                               role="listitem"
                               (delete)="deleteTurfirma($event)"
                               >
            </tl-turfirma-list-item>
            
        </mat-list>
<s>             </s>
    </mat-card-content>
    <mat-card-actions>
        
        <form [formGroup]="form">

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">

                <button mat-stroked-button color="primary" *ngIf="nameControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="nameControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Address</mat-label>
                <input formControlName="address_t" matInput type="text">
                <button mat-stroked-button color="primary" *ngIf="address_tControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="address_tControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Commission</mat-label>
                <input formControlName="commission" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="commissionControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="commissionControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>

           <button mat-flat-button color="accent" (click)="addTurfirmaItem()">Добавить тур. фирму</button>
           <br>
           <br>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Id (for update)</mat-label>
                <input formControlName="id_t" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="id_tControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="id_tControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </form>

        <button mat-flat-button color="accent" (click)="updateTurfirmaItem()">Обновить информацию о тур. фирме</button>
        
    </mat-card-actions>


    <mat-card-content>
        <br>
    <h3><mat-icon>beach_access</mat-icon> Путевки: </h3> 
    <h3>Id, Санаторий, Адрес, Цена, Количество:</h3>
        <mat-list role="list">
            <tl-voucher-list-item *ngFor="let item of vouchers"
                               [item]="item"
                               role="listitem"
                               (delete)="deleteVoucher($event)"
                               >
            </tl-voucher-list-item>
        </mat-list>
<s>             </s>
    </mat-card-content>
    <mat-card-actions>
        
        <form [formGroup]="form1">

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Name of sanatorium</mat-label>
                <input formControlName="sanatorium" matInput type="text">
                <button mat-stroked-button color="primary" *ngIf="sanatoriumControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="sanatoriumControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput type="text">
                <button mat-stroked-button color="primary" *ngIf="addressControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="addressControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Price</mat-label>
                <input formControlName="price" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="priceControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="priceControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            &nbsp;

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Quantity</mat-label>
                <input formControlName="quantity" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="quantityControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="quantityControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            
            <br>
            <button mat-flat-button color="accent" (click)="addVoucherItem()">Добавить путевку</button>
            <br>
            <br>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Id (for update)</mat-label>
                <input formControlName="id" matInput type="number" min = 0>
                <button mat-stroked-button color="primary" *ngIf="idControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="idControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </form>

        <button mat-flat-button color="accent" (click)="updateVoucherItem()">Обновить информацию о путевке</button>
        
    </mat-card-actions>


    <mat-card-content>
        <br>
        <h3><mat-icon>sentiment_very_satisfied</mat-icon> Уже сделали заказ: </h3>
        <h3>Id, Дата, Id турфирмы, Id путевки, Стоимость, Количество:</h3>
            <mat-list role="list">
                <tl-booking-list-item *ngFor="let item of bookings"
                                   [item]="item"
                                   role="listitem"
                                   (delete)="deleteBooking($event)"
                                   >
                </tl-booking-list-item>
            </mat-list>
    <s>             </s>
        </mat-card-content>
        <mat-card-actions>
            
            <form [formGroup]="form2">
    
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Date</mat-label>
                    <input formControlName="date" matInput type="text">
                    <button mat-stroked-button color="primary" *ngIf="dateControl.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="dateControl.setValue(null)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                &nbsp;
    
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Turfirma_id</mat-label>
                    <input formControlName="turfirma_id" matInput type="number" min = 0>
                    <button mat-stroked-button color="primary" *ngIf="turfirma_idControl.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="turfirma_idControl.setValue(null)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                &nbsp;
    
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>voucher_id</mat-label>
                    <input formControlName="voucher_id" matInput type="number" min = 0>
                    <button mat-stroked-button color="primary" *ngIf="voucher_idControl.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="voucher_idControl.setValue(null)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                &nbsp;

                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Price</mat-label>
                    <input formControlName="price_b" matInput type="number" min = 0>
                    <button mat-stroked-button color="primary" *ngIf="price_bControl.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="price_bControl.setValue(null)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                &nbsp;
    
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <input formControlName="quantity_b" matInput type="number" min = 0>
                    <button mat-stroked-button color="primary" *ngIf="quantity_bControl.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="quantity_bControl.setValue(null)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                
                
                <br>
                <button mat-flat-button color="accent" (click)="addBookingItem()">Добавить заказ</button>
                <br>
                <br>
    
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Id (for update)</mat-label>
                    <input formControlName="id_b" matInput type="number" min = 0>
                    <button mat-stroked-button color="primary" *ngIf="id_bControl.value" matSuffix mat-icon-button aria-label="Clear"
                            (click)="id_bControl.setValue(null)">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
    
            </form>
    
            <button mat-flat-button color="accent" (click)="updateBookingItem()">Обновить заказ</button>
            
        </mat-card-actions>
</mat-card>
