mat-card {
    background: #696969;
    background-attachment: scroll;
    background-repeat: repeat;
    margin: 15px auto auto auto
}

mat-list {
    background: #808080;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: 20px;
}
